<div class="container">
    <div class="jumbotron py-3">
        <h1 class="display-4 text-center">{{ 'DELIVERY.Delivery' | translate }}</h1>
    </div>

    <div class="d-flex flex-column">
        <div class="border border-info rounded p-3 mb-5">
            <h2 class="fs-1 text-center">{{ 'DELIVERY.DeliveryRegister' | translate }}</h2>
            <app-delivery-form></app-delivery-form>
        </div>
        <button type="button" class="btn btn-outline-info mb-5" (click)="exportexcel()">{{ 'ExportExcel' | translate }}</button>
        <div class="border border-info rounded p-3 mb-5">
            <h2 class="fs-1 text-center">{{ 'DELIVERY.ListOfDelivery' | translate }}</h2>
            <table class="table" id="table">
                <thead class="thead-light">
                    <tr>
                        <th>{{ 'DELIVERY.Shipper' | translate }}</th>
                        <th>{{ 'DELIVERY.FoodEstablishment' | translate }}</th>
                        <th>{{ 'DELIVERY.DateDelivery' | translate }}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pd of service.list">
                        <td (click)="populateForm(pd)">{{pd.id_shipper}}</td>
                        <td (click)="populateForm(pd)">{{pd.id_foodEstablishment}}</td>
                        <td (click)="populateForm(pd)">{{pd.dateTime_delivery | date:'short'}}</td>
                        <td>
                            <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pd.id_delivery)"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
