<div class="container">
    <div class="row mb-5">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <app-business-logic-shipper-week></app-business-logic-shipper-week>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 mb-5">
            <div class="card">
                <div class="card-body">
                    <app-business-logic-shipper-month></app-business-logic-shipper-month>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <app-business-logic-correct-storage-product></app-business-logic-correct-storage-product>
                </div>
            </div>
        </div>
    </div>
</div>